.profile {
background-color: #fff;
width: 252px;
height: fit-content;
padding: 0;
margin: 10px 10 px 40px 0px;
border-color: #e4e9f0;
border-radius: 8px;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.avatar {
width: 100px;
height: 100px;
padding: 10px;
border-radius: 50%;
margin-top: 33px;
margin-bottom: 30px;
}
p.name {
  font-weight: 800;
  margin-bottom: 15px;
  color: #122236;
}
.tag {
  margin-bottom: 15px;
  color: #a1abb6;
}
.location {
  margin-bottom: 35px;
  color: #a1abb6;
}
.stats {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100px;
  background-color: #f3f6f9;
  border: 1px solid #e4e9f0;
}
.statsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e4e9f0;
}
.label {
color: #a1abb6;
margin-top: 24px;
margin-bottom: 10px;
}
.quantity {
font-weight: 800;
color: #1f3349;
margin-bottom: 24px;
}